<footer class="p-3 bg-dark text-white text-center fixed-bottom">
  <div class="container">
    <p class="lead">Copyright &copy; 2021 TutorNow</p>
    <%= link_to '#', class: "position-absolute bottom-0 end-0 p-3" do %>
      <i class="fas fa-arrow-up h2"></i>
    <% end %>
  </div>
</footer>
