<section class="container p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>TutorNow</h1>
        <h2 class="my-3">Find your ideal Tutor</h2>
        <div>
          <form class="">
            <input class="form-control me-2" type="search" name="search" placeholder="Subject" aria-label="Search">

            <div class="py-3">
              <input class="btn-check" type="radio" name="level" id="success-outlined" autocomplete="off" value="beginner">
              <label class="btn btn-outline-success rounded-pill" for="success-outlined">Beginner</label>
              <input class="btn-check" type="radio" name="level" id="danger-outlined" autocomplete="off" value="intermediate">
              <label class="btn btn-outline-danger rounded-pill" for="danger-outlined">Intermediate</label>
              <input class="btn-check" type="radio" name="level" id="primary-outlined" autocomplete="off" value="advanced">
              <label class="btn btn-outline-primary rounded-pill" for="primary-outlined">Advanced</label>
            </div>

            <button class="btn btn-outline-secondary btn-lg rounded-pill" type="submit">Search</button>
        </div>
      </div>
      <div class="subjects-stack">
        <%= image_tag("subjects.svg", class: "img-fluid d-none d-sm-block") %>
      </div>
    </div>
  </div>
</section>
