<div>
  <% @offers.each do |offer| %>

      <div>
        <%= offer.user %>
        <%= offer.subject %>
        <%= offer.description %>
      </div>

  <% end %>
</div>
    <%=  @offers.all.count %>
