.card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  border-radius: 13px;
  margin-bottom: 30px;
  margin: 20px;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

}

.cut-text{
  position: absolute;
  left: 5%;
  width: 60%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.icon-size img {
  width: 25px;
}


#info-sizing-price {
  position: absolute;
  right: 4%;
}

#info-sizing-time {
  position: absolute;
  right: 4%;
  bottom: 10%;
}

.info-right div {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border-radius: 10px;
  padding: 9px;
  margin-bottom: 10px;
  p {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}



.app-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border-radius: 13px;
  margin-bottom: 30px;
  margin: 20px;
  padding: 10px;
}

.appointment-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  height: 40px;
  padding: 10px;
  border-radius: 13px;
  transition: 0.5s ease;
  cursor: pointer;
  text-align: center;
}

.appointment-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.app-card-mathematics {
  background-color: $math-red;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 13px;
  margin-bottom: 30px;
  margin: 20px;
  padding: 10px;
}

.app-card-chemistry {
  background-color: $bio-green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 13px;
  margin-bottom: 30px;
  margin: 20px;
  padding: 10px;
}
