<%= render "shared/back_button" %>
<div class="container">
  <h1>Your booked appointments</h1>
  <div data-controller="appointment">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <p class="nav-link active" data-action="click->appointment#toggleTabs" data-appointment-target="tabStudent">You as student</p>
      </li>
      <li class="nav-item">
        <p class="nav-link" data-action="click->appointment#toggleTabs" data-appointment-target="tabTutor">You as tutor</p>
      </li>
    </ul>
  </div>
  <%= render "student" %>
  <%= render "tutor" %>
</div>
