<div class="container">
  <h1>Your booked appointments</h1>
  <div data-controller="appointment">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <p class="nav-link active" data-action="click->appointment#toggleTabs" data-appointment-target="tabStudent">You as student</p>
      </li>
      <li class="nav-item">
        <p class="nav-link" data-action="click->appointment#toggleTabs" data-appointment-target="tabTutor">You as tutor</p>
      </li>
    </ul>
  </div>

  <%= render "student" %>
  <%= render "tutor" %>

  <%# <script>
    console.log("Stimmt");
    const tabs = document.querySelectorAll("p.nav-link");
    console.log(tabs[0].classList.contains("active"))
    if (tabs[0].classList.contains("active")) {
      document.getElementById("student-appointments").classList.remove("d-none");
      document.getElementById("tutor-appointments").classList.add("d-none");
    } else {
      document.getElementById("student-appointments").classList.add("d-none");
      document.getElementById("tutor-appointments").classList.remove("d-none");
    }
  </script> %>
</div>
